<div class="container-xxl" ng-controller="offersController">
    <div class="container-xl">
        <hr>
        <div class="container-xl p-0">
            <h1 class="py-5">Shea Body Butter</h1>
            <div class="container-xl col-12 flex hidden">
                <div class="row product-section pt-4">
                    <div class="col-lg-3 col-6 product-card-container" ng-if="productOffersLength !== 0"
                        ng-repeat="prod in productOffers.slice(0, productOffersLength)"> <img class="heart-product"
                            src="/imgs/icons/heart.svg" ng-if="isLoggedIn"
                            ng-click="addToFavouriteFunc(prod.ProductID); heartAnimation($event)"> <img
                            class="heart-product" src="/imgs/icons/heart.svg" ng-if="!isLoggedIn"
                            ng-click="addToFavouriteFunc(prod); heartAnimation($event)"> <img class="img-prod"
                            src="/imgs/cream2.png">
                        <p class="shea-section">{{prod.Description}}</p>
                        <p class="shea-description">{{prod.UOMDescription}}</p>
                        <p> <span class="price-old pl-4" ng-if="currency">{{currency}}{{prod.SalesPrice}}.85</span>
                            <span class="price-old pl-4" ng-if="!currency">SAR{{prod.SalesPrice}}.85</span> <span
                                class="span-symb-offer" ng-if="currency">{{currency}}</span> <span
                                class="span-symb-offer" ng-if="!currency">USD</span> <span
                                class="sar-price-offer">{{prod.SalesPriceAfterPromoted}}</span> <span
                                class="span-comma-offer">.85</span>
                        </p>
                        <div class="cart-option"
                            ng-click="addToCartFunc(prod, '/imgs/ceam2.png'); addToCartAnimation($event)"> <img
                                class="shop-icon e-rte-image e-imginline" src="/imgs/icons/shopping-bag.svg"> </div>
                    </div>
                </div>
            </div>
            <hr>
            <div class="d-flex center-position pt-3">
                <p>Showing {{productOffersLength}} of {{productOffersLength}}</p>
            </div>
            <hr class="hr-show-more">
            <hr class="hr-show-more-line">
            <div class="center-position pb-4"> <button class="show-more"> show more </button> </div>
        </div>
    </div>
</div>
<script src="/js/scroll-animation.js"></script>