<div class="site-container" ng-controller="resetPasswordController">
    <div class="row">
        <div class="col-lg-6 col-12 login-section-center">
            <h4 class="login-title"> Reset your password </h4>
            <h5 class="login-description"> It’s easy to forget. Enter your email and phone number and we will send you a
                new password </h5>
            <div class="py-3"> <button class="create-account-btn-lg"> Back to login </button> </div>
        </div>
        <div class="col-lg-6 col-12 login-section-center">
            <div class="pb-5"> <input class="input-login" placeholder="Email (username)" name="email"
                    ng-model="user.email"> </div>
            <div class="pb-1"> <button class="login-btn" ng-click="resetPasswordFunc()">Send new password</button>
            </div>
            <div class="py-3"> <button class="create-account-btn-sm"> Back to login </button> </div>
        </div>
    </div>
</div>